<?xml version="1.0" encoding="UTF-8"?>
<!--<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xmlns="http://java.sun.com/xml/ns/javaee"-->
<!--         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"-->
<!--         version="3.0">-->
            <web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
            version="3.1">

            <welcome-file-list>
                <welcome-file>index.html</welcome-file>
            </welcome-file-list>

            <servlet>
                <servlet-name>ArchitectureServlet</servlet-name>
                <servlet-class>com.company.servlet.ArchitectureServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>ArchitectureServlet</servlet-name>
                <url-pattern>/architecture/*</url-pattern>
            </servlet-mapping>

            <filter>
                <filter-name>UTF8Filter</filter-name>
                <filter-class>com.company.filters.UTF8Filter</filter-class>
            </filter>
            <filter-mapping>
                <filter-name>UTF8Filter</filter-name>
                <url-pattern>*</url-pattern>
            </filter-mapping>

            <filter>
                <filter-name>UserSessionFilter</filter-name>
                <filter-class>com.company.filters.UserSessionFilter</filter-class>
            </filter>
            <filter-mapping>
                <filter-name>UserSessionFilter</filter-name>
                <url-pattern>/user/*</url-pattern>
            </filter-mapping>

            <filter>
                <filter-name>ApiKeysFilter</filter-name>
                <filter-class>com.company.filters.ApiKeysFilter</filter-class>
            </filter>
            <filter-mapping>
                <filter-name>ApiKeysFilter</filter-name>
                <url-pattern>/api/*</url-pattern>
            </filter-mapping>

            <filter>
                <filter-name>AdminSessionFilter</filter-name>
                <filter-class>com.company.filters.AdminSessionFilter</filter-class>
            </filter>
            <filter-mapping>
                <filter-name>AdminSessionFilter</filter-name>
                <url-pattern>/admin/*</url-pattern>
            </filter-mapping>


            <servlet>
                <servlet-name>ApiModelsServlet</servlet-name>
                <servlet-class>com.company.servlet.ApiModelsServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>ApiModelsServlet</servlet-name>
                <url-pattern>/api/models/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>ApiClassificationServlet</servlet-name>
                <servlet-class>com.company.servlet.ApiClassificationServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>ApiClassificationServlet</servlet-name>
                <url-pattern>/api/work/*</url-pattern>
            </servlet-mapping>


    <servlet>
                <servlet-name>adminMenuServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminMenuServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminMenuServlet</servlet-name>
                <url-pattern>/admin/menu/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>AdminDownloadTaskServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminDownloadTaskServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>AdminDownloadTaskServlet</servlet-name>
                <url-pattern>/admin/download_tasks/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>adminAllTasksServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminAllTasksServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminAllTasksServlet</servlet-name>
                <url-pattern>/admin/all_tasks/*</url-pattern>
            </servlet-mapping>
            <servlet>
                <servlet-name>adminWorkServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminWorkServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminWorkServlet</servlet-name>
                <url-pattern>/admin/model/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>adminDownloadServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminDownloadDatasetServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminDownloadServlet</servlet-name>
                <url-pattern>/admin/download/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>adminLogoutServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminLogoutServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminLogoutServlet</servlet-name>
                <url-pattern>/admin/logout/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>adminAuthServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminAuthServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminAuthServlet</servlet-name>
                <url-pattern>/admin_auth/*</url-pattern>
            </servlet-mapping>

            <servlet>
                <servlet-name>adminKeysServlet</servlet-name>
                <servlet-class>com.company.servlet.AdminKeysServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>adminKeysServlet</servlet-name>
                <url-pattern>/admin/keys/*</url-pattern>
            </servlet-mapping>

        <!--    <servlet>-->
<!--        <servlet-name>adminDatasetsServlet</servlet-name>-->
<!--        <servlet-class>com.company.servlet.AdminDatasetServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>adminDatasetsServlet</servlet-name>-->
<!--        <url-pattern>/admin/datasets/*</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>adminModelsServlet</servlet-name>
        <servlet-class>com.company.servlet.AdminModelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminModelsServlet</servlet-name>
        <url-pattern>/admin/models/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminUsersServlet</servlet-name>
        <servlet-class>com.company.servlet.AdminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminUsersServlet</servlet-name>
        <url-pattern>/admin/users/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userAuthServlet</servlet-name>
        <servlet-class>com.company.servlet.UserAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAuthServlet</servlet-name>
        <url-pattern>/user_auth/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userLogoutServlet</servlet-name>
        <servlet-class>com.company.servlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogoutServlet</servlet-name>
        <url-pattern>/user/logout/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userModelsServlet</servlet-name>
        <servlet-class>com.company.servlet.UserModelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userModelsServlet</servlet-name>
        <url-pattern>/user/models/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userMenuServlet</servlet-name>
        <servlet-class>com.company.servlet.UserMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userMenuServlet</servlet-name>
        <url-pattern>/user/menu/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userWorkServlet</servlet-name>
        <servlet-class>com.company.servlet.UserWorkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userWorkServlet</servlet-name>
        <url-pattern>/user/work/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserEditProfileServlet</servlet-name>
        <servlet-class>com.company.servlet.UserEditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserEditProfileServlet</servlet-name>
        <url-pattern>/user/account/*</url-pattern>
    </servlet-mapping>

</web-app>